 .app-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .user-name {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
    padding-right: 18px;
    
  }
  
  .spacer {
    flex: 1;
  }

  .mat-toolbar.mat-primary {
    background-color: #414143;
  }
  