<mat-card class="login-card">
  <div class="header">
    <mat-icon class="icon" color="accent">flight_takeoff</mat-icon>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="email" formControlName="username" placeholder="Username" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password" required />
    </mat-form-field>

    <button mat-raised-button color="accent" class="full-width" type="submit">
      Login
    </button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</mat-card>